<header-component name="PGS"></header-component>
<span sample-class-directive>{{ $ctrl.person.firstName }}</span>
<span>{{ $ctrl.person.lastName }}</span>
<span>{{ $ctrl.person.age }}</span>
<md-button class="md-raised">Button</md-button>
<footer-component></footer-component>
