<!DOCTYPE html>
<html ng-app="pgsapp">
<head>
    <meta charset="UTF-8" />
    <base href="/" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet" type="text/css" />
</head>
<body>
    <ui-view></ui-view>
</body>
</html>
